
@{
    ViewBag.Title = "PayForTheOrder";
}


    <h3>Order PAYED</h3>

    <div>
        <div class="col-md-offset-0 col-md-12">
            <h4>[@Html.ActionLink("Back to orders", "IndexClient")]</h4>
        </div>
    </div>