
@{
    ViewBag.Title = "IndexManager";
}

    <div class="row">
        <div class="col-md-4">
            <h2>Managers page</h2>
            <h3>@Html.ActionLink("Catalog", "IndexManager", "Products")</h3>
            <h3>@Html.ActionLink("Cart", "Index", "Carts")</h3>
            <h3>@Html.ActionLink("Orders","Index","Orders")</h3>
        </div>
    </div>