
@{
    ViewBag.Title = "IndexClient";
}

<div class="row">
    <div class="col-md-4">
        <h2>Clients page</h2>
        <h3>@Html.ActionLink("Catalog", "IndexClient", "Products")</h3>
        <h3>@Html.ActionLink("Cart", "IndexClient", "Carts")</h3>
        <h3>@Html.ActionLink("Orders","IndexClient","Orders")</h3>
    </div>
</div>