
@{
    ViewBag.Title = "AddToCart";
}

<h2>Product added to cart</h2>

<div class="col-md-offset-0 col-md-12">
    <h4>[@Html.ActionLink("Back to catalog", "IndexClient")] &nbsp; [@Html.ActionLink("To cart", "IndexClient", "Carts")]</h4>
</div>